---
title: Dicas
permalink: "tips/index.html"
---
<div class="page-archive">
  <div style="margin-bottom: 10px; background-color: rgba(224, 114, 128, 0.28); padding: 15px; border-radius: 7px; border: 1px solid rgba(224, 114, 128, 0.28);">
    <span style="font-weight: bold; color: #e07280;">Dicas</span>
  </div>

  {% for post in site.posts %}
    {% if post.categories contains 'dicas' %}
      {% assign post_month_year = post.date | date: "%B %Y" %}
      {% assign newer_post_month_year = post.next.date | date: "%B %Y" %}
      {% if post_month_year != newer_post_month_year %}
        <h3 class="section-header-archive">
          {{ post_month_year }}
        </h3>
      {% endif %}
      <p>
        <a href="{{ post.url | prepend:site.baseurl}}" class="post-title-archive">{{ post.title }}</a>
        <small class="text-muted">{{ post.date | date_to_string }}</small>
      </p>
    {% endif %}
  {% endfor %}
</div>
