<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h3>
    Autores
  </h3>

  <p>
    <div class="media">
      <img src="{{ site.baseurl }}/images/team/luciane.jpg" alt="Elle Kasai" class="pull-left authores">
      <div class="media-body">
        <h4 class="media-heading">Luciane Kreutzfeld</h4>
      </div>
    </div>
  </p>
  <p>Estudante de Moda</p>

  <p><a href="https://twitter.com/ellekasai" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true" data-dnt="true" data-size="large">Follow @ellekasai</a></p>

  <p>
    <div class="media">
      <img src="{{ site.baseurl }}/images/team/suelen.jpg" alt="Elle Kasai" class="pull-left authores">
      <div class="media-body">
        <h4 class="media-heading">Suélin Gregory</h4>
      </div>
    </div>
  </p>
  <p>Estudante de Moda</p>

  <p><a href="https://twitter.com/ellekasai" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true" data-dnt="true" data-size="large">Follow @ellekasai</a></p>

  <p>
    <div class="media">
      <img src="{{ site.baseurl }}/images/team/marcia.jpg" alt="Elle Kasai" class="pull-left authores">
      <div class="media-body">
        <h4 class="media-heading">Márcia Laube</h4>
      </div>
    </div>
  </p>
  <p>Estudante de Moda</p>

  <p><a href="https://twitter.com/ellekasai" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true" data-dnt="true" data-size="large">Follow @ellekasai</a></p>

  <p>
    <div class="media">
      <img src="{{ site.baseurl }}/images/team/janaina.jpg" alt="Elle Kasai" class="pull-left authores">
      <div class="media-body">
        <h4 class="media-heading">Janaina Meisen</h4>
      </div>
    </div>
  </p>
  <p>Estudante de Moda</p>

  <p><a href="https://twitter.com/ellekasai" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true" data-dnt="true" data-size="large">Follow @ellekasai</a></p>

  <p>
    <div class="media">
      <img src="{{ site.baseurl }}/images/team/gislaine.jpg" alt="Elle Kasai" class="pull-left authores">
      <div class="media-body">
        <h4 class="media-heading">Gislaine Mello</h4>
      </div>
    </div>
  </p>
  <p>Estudante de Moda</p>

  <p><a href="https://twitter.com/ellekasai" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true" data-dnt="true" data-size="large">Follow @ellekasai</a></p>

</div>
