// Add your own custom CSS here.
@import "pygments-tomorrow";

.post-content img,
.post-excerpt-home img,
.post-nav img {
  @extend .img-rounded;
}
.post-content table,
.post-excerpt-home table,
.post-nav table {
  @extend .table;
  @extend .table-bordered;
}

.authores {
  width: 80px;
  border-radius: 50%;
}

.author-header img {
  width: 41px;
  border-radius: 50%;
}

.navbar-default .navbar-toggle {
  border-color: #FFF !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF !important;
}

.post-tag {
  background: #e07280;
  padding: 7px 15px;
  border-radius: 11px;
  color: #FFF;
}

.about {
  margin-top: -20px;
  margin-bottom: 20px;
  height: 160px;
  border-radius: 11px;
  background-color: rgba(198, 214, 237, 0.78);
  background-position-x: -105px;
  background-repeat: no-repeat;
  background-image: url(http://www.alessandrostein.com/blog-fashion-hug/images/team/team_background.png);
}

.about-m {
  height: 160px;
  border-radius: 11px;
  background-image: url(http://www.alessandrostein.com/blog-fashion-hug/images/team/team_background.png);
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.btn-about-m {
  padding: 15px;
  border: 1px solid #FFF;
  border-radius: 11px;
  background-color: none;
  color: #FFF;
  font-size: 26px;
  text-align: center;
}

.btn-about {
  padding: 15px;
  border-radius: 11px;
  background-color: #e07280;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 30%;
  right: 2%;
}

.btn-about:hover {
  background-color: rgba(224, 114, 128, 0.62);
  color: #FFF;
  text-decoration: none;
}

@media(max-width: 640px) {
  .about {
    height: 160px;
    border-radius: 11px;
    background-image: url(http://www.alessandrostein.com/blog-fashion-hug/images/team/team_background.png);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    margin-right: 15px;
    -khtml-opacity: .50;
    -moz-opacity: .50;
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
    opacity: 0.5;
  }

  .btn-about {
    padding: 10px;
    border: 1px solid #FFF;
    border-radius: 11px;
    background-color: rgba(224, 114, 128, 0.69);
    color: #FFF;
    font-size: 16px;
    text-align: center;
    right: 4%;
  }
}
