// Add your own custom CSS here.
@import "pygments-tomorrow";

.post-content img,
.post-excerpt-home img,
.post-nav img {
  @extend .img-rounded;
}
.post-content table,
.post-excerpt-home table,
.post-nav table {
  @extend .table;
  @extend .table-bordered;
}

.authores {
  width: 80px;
  border-radius: 50%;
}

.author-header img {
  width: 41px;
  border-radius: 50%;
}

.navbar-default .navbar-toggle {
  border-color: #FFF !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF !important;
}

.post-tag {
  background: #e07280;
  padding: 7px 15px;
  border-radius: 11px;
  color: #FFF;
}
